*{
    box-sizing: border-box;
}

body {

    /* background-color: moccasin; */
    background-image: url(../images/hands.jpg);
    background-size: cover;

}

header {
    /* display: grid;  
    justify-content: center; */

    text-align: center;
    font-family: 'Nunito', sans-serif;
    color: white;

}

h1 {

    text-align: center;
}

main {
    
}

footer {

}


.board{
    width: 650px;
    margin: 50px auto;
    border: 10px solid black;
    background-color: olivedrab;
    
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    margin: 5px;

}

.boardSquare {
    width: auto;
    height: 200px;
    

}

.playerName {

    color: burlywood;
}

.empty{
    border: 1px solid white;
    background-color: black;

}

.claimedPlayer1 {

/* background-color: green; */
background-image: url("../images/caramel.png");
background-size: cover;
}

.claimedPlayer2 {
background-image: url("../images/coconut.png");
background-size: cover;


}

.start {
 width: 200px;
 background-color: peachpuff;
 border-radius: 10px;
}







